@page "/project/add"
@using DataAccess.Model
@using ProjectManagementApp.Services




<h3>CreateProject</h3>
<EditForm class="col-7 p-0">
    <div class="form-group">
        <label for="company_name">Project Name</label>
        <input id="company_name"  class = "form-control" placeholder="abc" />
    </div>
    <div class="form-group">
        <label for="company_name">Select the company name</label>
        <select id="companies" name="Companies">
                <option value="MX">Mexico</option>
                <option value="MX">Mexico</option>
        </select>
    </div>
    <button class="btn btn-secondary">Add the company</button>
</EditForm>

@code {
   /* public Project newProject = new Project();
    private string pName = "";
    private string cName = "";
    private int pId = 0;

    public void HandleOnValidSubmit()
    {

    }

    public void submitCompany()
    {
        newProject.projectName = pName;
        newProject.companyProjectId = pId;        
        newProject = ProjectService.create(newProject);
    }
    */
}
