@page "/project/add"
@using DataAccess
@using DataAccess.Model
@using ProjectManagementApp.Services
@inject ICompanyService companyService
@inject IProjectService projectService
@inject IToastService ToastService
@inject NavigationManager NavigationManager


<h3>CreateProject</h3>
<EditForm Model=@newProject class="col-7 p-0">
    <div class="form-group">
        <label for="company_name">Project Name</label>
        <input id="company_name"  class = "form-control" @bind-value = "projectName" placeholder="abc" />
    </div>
    <div class="form-group">
        <label for="company_description">Project Description</label>
        <textarea id="company_descriptiopn" @bind="projectDescription" @bind:event="oninput" class = "form-control" />
    </div>
    <div class="form-group">
        <label for="company_name">Select the company name</label>
        <select id="companies" name="Companies" @onchange = "onSelectedItem" >
            @foreach (var item in listOfCompanies)
           {
             <option value="@item.Id">@item.CompanyName</option>
           }
        </select>
    </div>
    <button class="btn btn-secondary" @onclick = "@submitProject">Add new project</button>
</EditForm>


@code {
    public Project newProject = new Project();
    private string selectedCompany = "1";
    private string projectName = "";
    public string projectDescription { get; set; } = String.Empty;
    List<Company> listOfCompanies = new List<Company>();

    protected async override Task OnInitializedAsync()
    {
        listOfCompanies = companyService.listOfCompanies();
    }

    public void onSelectedItem(ChangeEventArgs e)
    {
        selectedCompany = e.Value.ToString();
    }

    public void submitProject()
    {
        newProject.projectName = projectName;
        newProject.projectDescription = projectDescription;
        newProject.companyProjectId = Int16.Parse(selectedCompany);
        newProject = projectService.create(newProject);
        if(newProject != null)
        {
            ToastService.ShowSuccess("Project is added successfully", "Success!");
            NavigationManager.NavigateTo("/project");
        }
        else
        {
            ToastService.ShowError("Something went wrong when adding the Project", "Error");
        }
    }
}





